<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd                                                 
	 http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">
	
		
	<bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
		<property name="brokerURL">
			<value>tcp://localhost:61616</value>
		</property>
	</bean>	

	<jaxws:client id="listadoServiciosOnpeClient" serviceName="ListadoServiciosOnpeService"
		serviceClass="pe.edu.upc.dsd.onpe.ws.ServiciosWeb" address="http://localhost:8080/onpe/listadoServicios" />
		
	<jaxws:client id="listadoElectoresClient" serviceName="ListadoElectoresService"
		serviceClass="pe.edu.upc.dsd.reniec.ws.ServicioReniec" address="http://localhost:8080/RENIEC/listadoElectores" />		
	
	<bean id="queueJmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="connectionFactory" />
	</bean>

	<bean id="queueMessageProducer" class="pe.edu.upc.dsd.jms.MessageProducer">
		<property name="jmsTemplate" ref="queueJmsTemplate" />	
		<property name="requestDestination" value="votos" />			
	</bean>	
	
				
</beans>  
