

body {
	font-family:verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	font-size:13px;
	color:#000000;
	background-color:#324B84;
	margin:0;
	padding:0;
	border:0;
}

#cnt{
	min-height: 542px;
	border-bottom:3px solid #D23434;
	background: transparent url(../images/back-org.png) no-repeat 50% 40%;		
}

#cnt2{
	min-height: 542px;
	border-bottom:3px solid #D23434;		
}

#wrap{
	background-color:#E7EBF0;
}


#footer{
	color:#FFF;
	padding: 5px;
	font-size: 0.9em;
	text-align: center;	
	font-family: "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
}

#footer span{
	font-weight: bold;
}



td {
	font-size:13px;
}

a:link, a:visited, a:active, a:hover {
	color:#324B84;
	font-weight: bold;
	text-decoration:none;
}

sub-menu a:hover{
	display: block;
}

#header-top {
	height: 39px;
	background-color: #FFF;
}

#header-middle {
	height:30px;
	padding:5px;
	background:transparent url(../images/menu-bar.png) repeat-x scroll 0 0;		
}

#menu-bar {
	padding-left:0;
	padding-top:6px;
}


#menu-bar a {
	border:1px solid #546998;
	color:#142354;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	margin-left:6px;
	padding:3px 4px 3px 6px;
}

#menu-bar a:hover {
	background-color:#FFF;
}

.active {
	background-color:#FFF;
}

.sub-menu{
	background-color:#FFFFFF;
	border:1px solid #546998;
	font-family:helvetica,arial,tahoma,sans-serif;
	font-size:10px;
	padding:7px 0px;
	position:absolute;
	width:250px;		
}

.sub-menu a{
	display:block;
	font-size:11px;
	font-weight:bold;
	margin-left:0px;
	padding-left:10px;
	padding-top: 3px;
	padding-bottom: 2px;
}

.sub-menu a:hover{
	background-color:#CCD2E0;
}

.sub-menu p{
	padding-left:10px;
}

#logo-org {
	background:transparent url(../images/logo-org.png) no-repeat scroll 0 0;
	height:36px;
	width: 50px;
	float: left;
	margin-left:6px;	
}

#logo-org-login {
	background:transparent url(../images/logo_onpe.png) no-repeat scroll 0 0;
	height:53px;
	width: 100px;
	float: left;
	margin-left:6px;	
}

#logo-org-login span {
	display: none;	
}

#logo-app {
	background:transparent url(../images/logo-app.png) no-repeat scroll 0 0;
	height:29px;
	left:31%;
	position:absolute;
	top:5px;
	width:320px;
}


#logo-org span, #logo-app span {
	display: none;
}

#user-area {
	font-size:10px;
	float: right;
	margin-top: 14px;
	margin-right:6px;	
}

.boton {
	color:#15428B;
	background: transparent url(../images/btn-sprite.gif) repeat-x scroll 0 -43px;
	cursor:pointer;
	border:1px solid;
	height:20px;
	vertical-align:middle;
	font-family:tahoma,verdana,helvetica;
	font-size:11px;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	line-height:normal;	
	font-weight:bold;	
}

.botonRojo {
	font-family: Verdana, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: bold;
	height: 21px;
	width: 120px;
	padding: 1px;
	background-color: #FF0000;
	background: #FF0000;
	border: 1px #666666 solid;
}

.botonVerde {
	font-family: Verdana, sans-serif;
	font-size: 11px;
	border: 1px #666666 solid;
	font-weight: bold;
	height: 21px;
	width: 120px;
	padding: 1px;
	color: #FFFFFF;
	background: #009900;
}


.colbot{
	text-align:right;
}

.inputtext {
	border:1px solid #B5B8C8;
	font-family:tahoma,arial,helvetica,sans-serif;
	font-size:12px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	padding:2px;
		
} 
.inputtext2 {
	border:1px solid #B5B8C8;
	font-family:tahoma,arial,helvetica,sans-serif;
	font-size:12px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	padding:2px;
	width:115px;
		
} 
.mant{
	margin: 0 auto;
	max-width: 960px;
	padding-top : 13px;
	width: 95%;
}

.x-panel-l{
	background:#FFFFFF url(../images/window/left-right.gif) repeat-y scroll 0 0;
	padding-left:6px;
}

.x-panel-r{
	background:transparent url(../images/window/left-right.gif) repeat-y scroll right 0;
	padding-right:6px;
}

.x-panel-c{
	background-color:#DFE8F6;	
	padding: 10px 16px 14px;
}

.x-panel-c td {
	padding-top:0.5px;
}

.formu{
	width:100%;
	text-align:left;
}

.formu table label{
	font-weight: bold;
}

.formu table{
	width:"100%";
	border-collapse: collapse;
}

.formu td{
	text-align:left;
}

.pagination{
	background-color: #D0DEF0;
	border-top: solid 1px #99BBE8; 
}

.alignleft{
	text-align: left !important;
}

.alignright{
	text-align: right !important;
}

td, th {
	font-family:arial,tahoma,helvetica,sans-serif;
	font-size:11px;
	padding:0px 0px;
}

.listado{
	border-collapse: collapse;
	background-color: #FFFFFF;
}

.listado th{
	background-color: #EEEEEE;
	border-right:1px solid #D0D0D0;
	border-bottom:1px solid #D0D0D0;
	color: #000000;
	height: 25px;
	text-align: center;
	padding-left: 3px;
	padding-right: 3px;
	font-weight: lighter;
}

.listado td {
	border-bottom:1px solid;
	border-color:rgb(237, 237, 237);
	text-align: center;
	padding-left: 3px;
	padding-right: 3px;
	height: 19px;
}

.grid-header{
	background-color: #D0DEF0;
	border-bottom: solid 1px #99BBE8; 
	font-family:tahoma,arial,helvetica,sans-serif;
	font-size:11px;
	font-weight:bold;
	height: 24px;
	text-align:left;
}

.grid{
	border:1px solid #99BBE8;
	margin-top:10px;
	width:99.75%;
}

.btn-page-first{
	background-image:url(../images/grid/page-first.gif) !important;
	height: 16px;
	width: 16px;
	border:0pt;
	background-color: transparent;
	padding:0pt;
}

.btn-page-prev{
	background-image:url(../images/grid/page-prev.gif) !important;
	height: 16px;
	width: 16px;
	border:0pt;
	background-color: transparent;
	padding:0pt;
}

.btn-page-next{
	background-image:url(../images/grid/page-next.gif) !important;
	height: 16px;
	width: 16px;
	border:0pt;
	background-color: transparent;
	padding:0pt;
}

.btn-page-last{
	background-image:url(../images/grid/page-last.gif) !important;
	height: 16px;
	width: 16px;
	border:0pt;
	background-color: transparent;
	padding:0pt;
}

.btn-pdf{
	background-image:url(../images/grid/pdf.gif) !important;
	height: 16px;
	width: 16px;
	border:0pt;
	background-color: transparent;
	padding:0pt;
	cursor:pointer;	
}

.btn-pdfs{
	background-image:url(../images/grid/pdfs.gif) !important;
	height: 20px;
	width: 20px;
	border:0pt;
	background-color: transparent;
	padding:0pt;
	cursor:pointer;	
}

.btn-excel{
	background-image:url(../images/grid/excel.gif) !important;
	height: 16px;
	width: 16px;
	border:0pt;
	background-color: transparent;
	padding:0pt;
	cursor:pointer;		
}

.btn-print{
	background-image:url(../images/grid/printer.png) !important;
	height: 16px;
	width: 16px;
	border:0pt;
	background-color: transparent;
	padding:0pt;
	cursor:pointer;
}

.btn-sobre{
	background-image:url(../images/sobre.png) !important;
	height: 16px;
	width: 16px;
	border:0pt;
	background-color: transparent;
	padding:0pt;
	cursor:pointer;	
}

.btn-new{
	background-image:url(../images/table_buttons/btn_add.png) !important;
	height: 16px;
	width: 16px;
	border:0pt;
	background-color: transparent;
	padding:0pt;
	cursor:pointer;
}

.btn-edit{
	background-image:url(../images/table_buttons/btn_edit.png) !important;
	height: 16px;
	width: 16px;
	border:0pt;
	background-color: transparent;
	padding:0pt;
	vertical-align: top;
	cursor:pointer;
}

.btn-go{
	background-image:url(../images/table_buttons/page_white_go.png) !important;
	height: 16px;
	width: 16px;
	border:0pt;
	background-color: transparent;
	padding:0pt;
	vertical-align: top;
	cursor:pointer;
}

.btn-delete{
	background-image:url(../images/table_buttons/btn_delete.png) !important;
	height: 16px;
	width: 16px;
	border:0pt;
	background-color: transparent;
	padding:0pt;
	vertical-align: top;
	cursor:pointer;	
}

.btn-iniciar{
	background-image:url(../images/table_buttons/cog.png) !important;
	height: 16px;
	width: 16px;
	border:0pt;
	background-color: transparent;
	padding:0pt;
	vertical-align: top;
	cursor:pointer;	
}

.btn-cero{
	background-image:url(../images/table_buttons/database.png) !important;
	height: 16px;
	width: 16px;
	border:0pt;
	background-color: transparent;
	padding:0pt;
	vertical-align: top;
	cursor:pointer;	
}

.btn-ok{
	background-image:url(../images/table_buttons/accept.png) !important;
	height: 16px;
	width: 16px;
	border:0pt;
	background-color: transparent;
	padding:0pt;
	vertical-align: top;
}

.btn-loading{
	background-image:url(../images/loading.gif) !important;
	height: 16px;
	width: 16px;
	border:0pt;
	background-color: transparent;
	padding:0pt;
	vertical-align: top;
}

.btn-search{
	background-image:url(../images/grid/buscar.png) !important;
	height: 20px;
	width: 20px;
	border: 0pt;
	background-color: transparent;
	padding:0pt;
	vertical-align: top;
	cursor:pointer;
}

.btn-magnifer{
	background-image:url(../images/grid/magnifier.png) !important;
	height: 16px;
	width: 16px;
	border: 0pt;
	background-color: transparent;
	padding:0pt;
	vertical-align: top;
	cursor:pointer;
}


.inforbar{
	border:solid 1px #b4d4a0;
	background-color:#f8fff0;
	margin-top:10px;
	font-size:11px;
	text-align:center;
	margin: 0 auto;
	font-family: arial,tahoma,helvetica,sans-serif;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 5px;
}

.inforbar table{
	margin: 0 auto;
}

.inforbarError{
	border:solid 1px #b4d4a0;
	background-color:#f8fff0;
	margin-top:10px;
	font-size:11px;
	text-align:center;
	margin: 0 auto;
	font-family: arial,tahoma,helvetica,sans-serif;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 5px;
	color: red;
}

.win-bar-tit-iz{
	background: transparent url(../images/window/corners-sprite.gif) no-repeat scroll 0 0;
	border-bottom:1px solid #99BBE8;
	padding-left:6px;
}

.win-bar-tit-de{
	background:transparent url(../images/window/corners-sprite.gif) no-repeat scroll right 0;
	padding-right:6px;
}

.win-bar-tit-ce{
	background:transparent url(../images/window/top-bottom.gif) repeat-x scroll 0 0;
	overflow:hidden;
}

.win-bar-tit-cn{
	-x-system-font:none;
	background:transparent none repeat scroll 0 0;
	border:0 none;
	color:#15428B;
	font-family:tahoma,arial,verdana,sans-serif;
	font-size:11px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:normal;
	padding:5px 0 4px;
	text-align:left;
}

.win-bar-tit-close {
	background:transparent url(../images/window/tool-sprites.gif) no-repeat scroll 0 0;
	cursor:pointer;
	float:right;
	height:15px;
	margin-left:2px;
	overflow:hidden;
	width:15px;
}

.win-barb-tit-iz{
	background:transparent url(../images/window/corners-sprite.gif) no-repeat scroll 0 bottom;
	padding-left:6px;	
}

.win-barb-tit-de{
	background:transparent url(../images/window/corners-sprite.gif) no-repeat scroll right bottom;
	padding-right:6px;
}

.win-barb-tit-ce{
	background:transparent url(../images/window/top-bottom.gif) repeat-x scroll 0 bottom;
	font-size:0;
	height:6px;
	line-height:0;
}

.combo {
	border:1px solid #B5B8C8;
	font-family:tahoma,arial,helvetica,sans-serif;
	font-size:12px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	padding:2px;
}

.progressBar{
	width:216px;
	height:41px;
	background:url(../images/progress_bar/bg_bar.png) no-repeat 0 0;
	position:relative;
	text-align: center;
}

.progressBar span{
	position:absolute;
	display:block;
	width:200px;
	height:25px;
	background:url(../images/progress_bar/bar.gif) no-repeat 0 0;
	top:8px;
	left:8px;
	overflow:hidden;
	text-indent:-8000px;
}

.titulo {
	font-size: 14px;
	font-family:tahoma,helvetica,arial,tahoma,sans-serif;
	font-weight: bold;
	text-align:center;
	color:#15428B;
	margin-bottom: 15px;
}

.subtitulo {
	font-size: 12px;
	font-family:tahoma,helvetica,arial,tahoma,sans-serif;
	font-weight: bold;
	text-align:left;
	color:#15428B;
	margin-bottom: 15px;
	background-color:#CCD2E0; 
	padding: 3px;
}

.aligncenter{
	text-align: center;
}

.botonera{
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
}

.block {
	margin-top:40px;
	margin-bottom:40px;
	background-color: #FFF;
}

.block .inner {
	border-left:1px solid #DEDEDE;
	border-right:1px solid #DEDEDE;
	border-bottom:1px solid #DEDEDE;	
	padding:10px 15px 4px 10px;
}

fieldset {
	border:0 none;
	padding:0;
}

.fieldset_block {
	text-align: center;
}

.fieldset_inner{
	width:250px;
} 

.content{
	float:none;
	margin:0 auto !important;
	width:347px;
}

.contentCondicionUso{
	float:none;
	margin:0 auto !important;
	width:550px;
}

.block h3{
	background:#5173A1;
	border:1px solid #ADADAD;
	/*color:#FFFFFF;*/
	color:#1F2B45
	font-size:0.9em;
	font-weight:bold;
	padding: 5px;	
}

.login-content p{
	font-family:"Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
}

input.error {
	border:1px solid red;
	margin-left:0;
}

label.error {
	clear:both;
	color:red;
	float:left;
	font-size:0.9em;
	margin-left:0;
	width:100%;
}

.campo{
	font-size: 12px;
}

.bienvenida{
	color:#FFFFFF;
	font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
	font-size:0.9em;
	margin-bottom:6px;
	margin-top:10px;
	padding:0;
}
